<div id="adlib-page-edit" title="Edit Page Settings" width="400" height="320">
  <% unless @adlib_page.errors.empty? -%>
    <p class="error"><%= @adlib_page.errors.on_base %></p>
  <% end -%>

  <% form_for :adlib_page, :url => adlib_page_path(@adlib_page),
                           :html => { :method => :put } do |f| -%>
    <p class="adlib-form-field">
      <%= f.label :name, 'Page Name' %><br/>
      <%= f.text_field :name %>
    </p>
    <p class="adlib-form-field">
      <%= f.label :slug, 'URL Slug' %><br/>
      <%= f.text_field :slug %>
    </p>
    <p class="adlib-form-buttons">
      <%= submit_tag 'Save Changes' %> | <%= link_to 'Cancel', :back %>
    </p>
  <% end -%>
</div>
