<div id="adlib-snippet-edit" title="Edit <%= @adlib_snippet.slot.titleize %>" width="700" height="520">
  <% unless @adlib_snippet.errors.empty? -%>
    <p class="error"><%= @adlib_snippet.errors.on_base %></p>
  <% end -%>

  <% form_for :adlib_snippet, :url => adlib_page_snippet_path(@adlib_page, @adlib_snippet),
                              :html => { :method => :put } do |f| -%>
    <p class="adlib-form-textarea">
      <%= f.text_area :content %>
    </p>
    <p class="adlib-form-buttons">
      <%= submit_tag 'Save Changes' %> | <%= link_to 'Cancel', :back %>
    </p>
  <% end -%>
</div>
